@media only screen and (max-width : 319px) {
	.context h2 {
		font-size:22px;
		margin-top:140px;
	}
	.logo {
		float: none;
		margin: 0 auto;
		margin-top: 30px;
	}
	.cbox {
		float: none;
		margin: 0 auto;
		margin-top: 20px;
		width: 190px;
	}
	.subtit {
		font-size: 14px;
		width: 240px;

	}
}
@media only screen and (min-width : 320px) {
    .context h2 {
        font-size:22px;
        margin-top:140px;
    }
    .logo {
		float: none;
		margin: 0 auto;
		margin-top: 30px;
    }
	.cbox {
		float: none;
		margin: 0 auto;
		margin-top: 20px;
		width: 190px;
	}
	.subtit {
		font-size: 14px;
		width: 240px;

	}
}

@media only screen and (min-width : 480px) {
    .context h2 {
        margin-top: 40px;
        font-size: 22px;
    }
    .logo {
        float:left;
		margin: auto;
		margin-top: 12px;
		margin-left: 15px;
    }
    .cbox {
        float:right;
		margin: auto;
		margin-right: 20px;
		margin-top: 20px;
    }
	.subtit {
		font-size: 14px;
		width: 240px;

	}
}
@media only screen and (min-width : 640px) {
	.context h2 {
		margin-top:25px;
		font-size:30px;
	}
	.subtit {
		font-size: 20px;
		width: 400px;

	}
	.cbox {
		float:right;
		margin: auto;
		margin-right: 20px;
		margin-top: 20px;
	}
	.logo {
		float:left;
		margin: auto;
		margin-top: 12px;
		margin-left: 15px;
	}
}





@media only screen and (min-width : 768px) {
    .context h2 {
        margin-top:25px;
        font-size:40px;
    }
	.subtit {
		width: auto;

	}
	.cbox {
		float:right;
		margin: auto;
		margin-right: 20px;
		margin-top: 20px;
	}
	.logo {
		float:left;
		margin: auto;
		margin-top: 12px;
		margin-left: 15px;
	}
}


@media only screen and (min-width : 992px) {
	.context h2 {
		font-size: 50px;
	}
	.subtit {
		font-size: 21px;
		width: auto;
	}
	.cbox {
		float:right;
		margin: auto;
		margin-right: 20px;
		margin-top: 20px;
	}
	.logo {
		float:left;
		margin: auto;
		margin-top: 12px;
		margin-left: 15px;
	}
}


@media only screen and (min-width : 1200px) {
	.context h2 {
		font-size: 60px;
	}
	.subtit {
		font-size: 22px;
		width: auto;
	}
	.cbox {
		float:right;
		margin: auto;
		margin-right: 20px;
		margin-top: 20px;
	}
	.logo {
		float:left;
		margin: auto;
		margin-top: 12px;
		margin-left: 15px;
	}
}







@media only screen and (max-height : 500px) {
    .tcmid {
        padding-top:130px;
        padding-bottom:50px;
        display:block;
    }
    .footer_line {
        position: relative;
    }
}
